<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

        <title>{ifset title}{include title|striptags} | {/ifset}Nette Web</title>

        <link rel="shortcut icon" href="{$basePath}/favicon.ico">
        <link rel="stylesheet" href="{$basePath}/css/main.css">
        <link rel="stylesheet" href="{$basePath}/css/flipclock.css">
        <link rel="stylesheet" href="{$basePath}/css/bootstrap/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="{$basePath}/js/jquery.cookie.js"></script>
        <script src="{$basePath}/js/nette.ajax.js"></script>
        <script src="{$basePath}/js/main.js"></script>
        <script src="{$basePath}/js/flipclock.min.js"></script>
        <script src="//nette.github.io/resources/js/netteForms.min.js"></script>        

        <link href='//nicool.rocks/stuff/tickets/tickets.css' rel='stylesheet'>
        <script type="text/javascript" src="//nicool.rocks/stuff/tickets/tickets.js"></script>
    </head>

    <body>
        <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>	

        <div class="container">
            {include content}
            <div class="row">
                <div id='tickets'></div>
            </div>
        </div>        
        {block scripts}	
        {/block}
    </body>
</html>
