{* Latte template *}

{block content}
<div class="container">
	Tu bude test </br>

	<div class="row">
		<div class="col-sm-6">
			<img class="img-responsive question" src="">
			{snippet ajaxChange}				
				<div class="row">
					{foreach $allItems as $item}
						<img height="300" src="{$basePath}/img/animals/{$item['img']}">
					{/foreach}
				</div>
				<div class="row">
					{foreach $options as $option}
						{first}
							<a class="col-sm-3 ajax img-link" n:href="Question! $id">
								<img height="150" src="{$basePath}/img/animals/{$item['img']}">
							</a>
						{/first}
						<a class="col-sm-3 ajax img-link" n:href="Question! $id">
							<img height="150" src="{$basePath}/img/animals/{$option['img']}">
						</a>
					{/foreach}
				</div>
			{/snippet}
		</div>
	</div>
</div>