{block content}
<div class="col-sm-12">
    <div class="page-header">
        <h1>Prehľad</h1>
    </div>
    <div class="panel panel-default">
        <table class="table">
            <tr>
                <th>Meno</th>
                <th>Správne odpovede</th>
                <th>Nesprávne odpovede</th>
                <th>Čas</th>
                <th>Datum</th>
            </tr>
            {foreach $values as $val}
                <tr>
                    <td>{$val->name}</td>
                    <td>{$val->correct_ans}</td>
                    <td>{$val->wrong_ans}</td>
                    <td>{$val->time|date:'%M:%S'}</td>
                    <td>{$val->date|date:'%d.%m.%Y'}</td>
                </tr>
            {/foreach}
        </table>
        <div class="panel-footer">
            <a class="btn btn-primary" n:href="Homepage:default"> Späť na domov </a>
        </div>
    </div>
</div>
